header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5rem;
}
.logo {
  background-color: coral;
  padding: 10px 15px;
  color: white;
}
header ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}
header a {
  color: black;
  text-decoration: none;
}
header a:visited {
  color: black;
}
header a:hover {
  text-decoration: underline;
}
#banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30rem;
}
#banner h1 {
  font-weight: bolder;
  font-style: italic;
}
.container {
  width: 60%;
  margin: 15px auto;
}
#about .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-photo {
  width: 40%;
}
.about-info {
  width: 60%;
}
.about-photo img {
  width: 20rem;
  box-shadow: rgba(0, 0, 0, 0.5) -5px 5px 5px;
}
.skills {
  display: flex;
  flex-direction: column;
}
.skills p {
  font-size: 1.25rem;
}
.skills-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.skill-name {
  font-weight: bold;
  display: inline-block;
  width: 80px;
  margin-right: 30px;
  font-size: 20px;
}
.skill-bar {
  background-color: gray;
  height: 20px;
  border-radius: 20px;
  display: inline-block;
  width: 250px;
  position: relative;
  margin-bottom: 10px;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1);
}
.skill-level {
  background-color: #4caf50;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  text-align: center;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
}
#exp .container {
  padding: 15px;
}
.minute {
  height: 5rem;
  display: flex;
  align-items: center;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
  gap: 40px;
}
#contact {
  background-color: lightpink;
}
.contact-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact-left p {
  font-size: 20px;
}
.contact-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#contact .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  border-radius: 15px;
  padding: 10px 20px;
}
.form-group input {
  border-radius: 10px;
}
footer {
  display: flex;
  justify-content: end;
  height: 2rem;
  align-items: center;
  background-color: lightcoral;
}
small {
  color: aliceblue;
  margin-right: 20px;
}
