header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5rem;
}
.logo {
  background-color: coral;
  padding: 10px 15px;
  color: white;
}
header ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}
header a {
  color: black;
  text-decoration: none;
}
header a:visited {
  color: black;
}
header a:hover {
  text-decoration: underline;
}
#banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30rem;
}
#banner h1 {
  font-weight: bolder;
  font-style: italic;
}
.container {
  width: 60%;
  margin: 15px auto;
}
#about .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-photo {
  width: 40%;
}
.about-info {
  width: 60%;
}
.about-photo img {
  width: 20rem;
  box-shadow: rgba(0, 0, 0, 0.5) -5px 5px 5px;
}
#exp .container {
  padding: 15px;
}
.minute {
  height: 5rem;
  display: flex;
  align-items: center;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
  gap: 40px;
}
#contact{background-color: lightpink;}
footer {
  display: flex;
  justify-content: end;
  height: 2rem;
  align-items: center;
  background-color: lightcoral;
}
small {
  color: aliceblue;
  margin-right: 20px;
}
